.landing-start{
    width: 100vw;
    background-color: #FFF55F;
    height: 80vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.landing-start-content{
    width: 50vw;
    font-size: 18px;
}

.landing-start-content h2{
    font-size: 64px;
    font-weight: 700;
}

.btn-landing{
    background-color: transparent;
    border: 1px solid black !important ;
    padding: 1vw 2vw;
    margin-top: 3vh;
}

.btn-landing:hover{
    background-color: black;
    color: #FFF55F;
}