.products-wrapper{
    margin: 0 auto;
    width: 70vw;
    height: auto;
    min-height: 100vh;
    padding: 7rem 0;
}
.products-btn-container{
    padding: 10vh 0;
}
.product-list{
    padding-bottom: 10vh;
    width: 70vw;
    margin: 0 auto;
    height: fit-content;
}
.product-img{
    background-color: #84C0C6;
    width: 10vw;
    height: auto;
    transition: all .8s ease-in-out;
}
.products-title h2{
    padding-top: 1rem;
    font-weight: bold;
}
.product-img:hover{
    transform: scale(1.005);
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.product-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
.product-card{
    margin-top: 1rem;
}
.category-container{
    margin-top: 5vw;
    width: 70vw;
    margin: 0 auto;
}
.name-arrow{
    width: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
}
.download-pdf{
    text-align: right;
    font-size: 1.2rem;
    color: rgb(63, 63, 63);
    border-bottom: 1px solid rgb(63, 63, 63);
}
.download-pdf:hover{
    color:rgb(13, 162, 152) !important;
    font-size: 1.2rem;
    font-weight: bold;
    border-bottom: 2px solid rgb(13, 162, 152);
}
.category-container button{
    text-align: left;
    margin-bottom: 1vw;
    padding: .2vw 2vw;
    transition: all .4s ease-in-out;
}
.name-arrow:hover{
    background-color: rgba(13, 162, 152, 0.3);
}
.active-btn{
    background-color: #0da298a6;
}
.title-filter-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.product-text{
    margin-top: 1vw;
    width: 100%;
}
.product-text p{
    font-size: 16px !important;
    text-align: center; 
}
.product-drop{
    margin-bottom: 2rem;
}
/* ipad */
@media (max-width: 950px) {
.name-arrow{
    width: 90vw;
}
.products-wrapper{
    min-height: auto;
    padding: 10vh 0;
}
.products-btn-container{
    padding: 5vh 0;
}
.products-title h2{
    font-weight: bold;
}
.product-list{
    padding: 0;
    width: 90vw;
}
.product-img{
    width: 13vw;
}
.category-container{
    width: 90vw;
}
}
@media (max-width: 765px) {
.category-container button{
    padding: .2vw 5vw;
    margin-bottom: 4vw;
}
.product-img{
    width: 90vw;
    margin-top: 2rem;
}
.product-list{
    padding: 0;
    width: 90vw;
}
.product-text p{
    font-size: 1.5rem !important;
    padding-top: 0.5rem;
}
.products-title{
    padding-bottom: 4vw;
}
}
@media (max-width: 765px) and (max-height:450px){
    .product-img img{
        width: 90vw;
    }
}

