.products-wrapper{
    margin: 0 auto;
    width: 70vw;
    height: auto;
}

.product-list{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-img{
    background-color: #84C0C6;

    width: 23vw;
    height: 23vw;
}

.product-img img{
    width: 100%;
    height: 100%;
}

.product-card{
    width: 20vw;
    margin-top: 4%;
}

.category-container{
    margin-top: 15vw;
}

.title-filter-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.projects-title{
    width: 80%;
    padding: 10% 0;
}

.projects-btn{
    width: 20%;
}

.projects-title h1{
    font-size: 54px;
    font-weight: 700;
}

.projects-btn button{
    font-size: 18px;
    margin-left: 2vw;
    background-color: transparent;
    border: 1px solid black;
    padding: 3% 18%;
}

.projects-btn button:hover{
    background-color: black;
    color: white;
}
.product-text{
    margin-top: 1.5vw;
    width: 100%;
    height: 5vw;
}
.product-text h3{
    font-size: 20px !important;
    text-align: center;
    
    }



@media (max-width: 1110px) {
    
    .projects-title{
        width: 50%;
        padding: 10% 0 2% 0;
    }
    
    .projects-btn{
        width: 20%;
    }

    .projects-title h1{
        font-size: 40px;
        font-weight: 700;
    }

    .products-wrapper{
        margin: 0 auto;
        width: 95vw;
        height: auto;
    }

    .product-img{
        height: 250px;
    }

    .react-reveal{
        padding: 0 !important;
    }

    .product-card{
        width: 48%;
        margin-top: 4%;
        height: 400px;
    }

      }