.page-home{
    margin-bottom: 6vw;
}

.landing-start{
    width: 100vw;
    background-image: url('../../img/home.jpg');  
    background-size: 130%;
    background-position: bottom;
    filter: brightness(80%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: left;
    text-align: center;
    background-attachment:fixed;
}

.intro-text-container{
    width: 70vw;
    margin-left: 3vw;
    margin-bottom: 3vw;
    padding: 2vw;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
}

.intro-phrase{
    color: white;
}

.intro-phrase h1{
    font-size: 5rem;
}

.intro-text{
    padding: 10vw 0;
    margin-bottom: 0 !important;
}

.btn-home{
    background-color: transparent;
    border: 1px solid black !important ;
    padding: 1vw 2vw;
    margin-top: 3vh;
}

.presentation{
    background-color: #c3f0ed;
}

.btn-home:hover{
    background-color: black;
    color: #96ce27b7;
}

@media (max-width: 1110px) { 

    .landing-start-content{
        width: 65vw;
        font-size: 16px;
    }
    .landing-start-content h2{
        font-size: 30px;
        font-weight: 700;
    }
    .btn-home{
        background-color: transparent;
        border: 1px solid black !important ;
        padding: 3vw 5vw;
        margin-top: 3vh;
        font-size: 20px;
    }

    .landing-start{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .intro-text-container{
       width: 95vw;
       height: auto;
       margin: 0;
        margin-top: 15vw;
        padding: 5vw;
        text-align: left;
        background-color: rgba(0, 0, 0, 0.4);
   }

    .intro-phrase h1{
        font-size: 4.5rem;
    }
 }

 @media (max-width: 700px) { 
         
    .intro-phrase h1{
        font-size: 3rem;
    }

    .intro-text-container{
         margin-top: 21vw;
         padding: 2vw;

    }
 
 }