.footer{
    background-color: rgb(41, 41, 41);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 0;
    z-index: 2;
  }
  .footer-wrapper{
    width: 70vw;
    height: auto;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .copyright{
    font-size: 16px !important;
  }
  .footer-wrapper a{
    color: white !important;
  }
  .footer-wrapper a:hover{
    color: rgb(216, 216, 216) !important;
  }
  .location-adress-footer{
    font-size: 14px !important;
    max-width: 10vw;
  }
  
  .footer-location{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 45vw;
  }
  
  .contact-social-media-wrapper{
  text-align: right;
  }

  .contact-footer-wrapper{
    text-align: right;
  }

  .copyrightDiv p{
    text-align: right;
  }

  .contact-social-media-wrapper div{
    padding-bottom: 5%;
    text-align: right;
    width: 25vw;
  }
  
  .contact-social-media-wrapper h5{
    padding-bottom: 3%;
    font-weight: 700;
  }
  
  .privacy-cookies-footer-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15vw !important;
  }

@media (max-width: 1250px) { 
.footer-wrapper{
    width: 90vw;
    display: block;
  }

  .footer-location{
    display: block;
  }
  .footer-location div{
    padding: 10% 0;
    width: 90vw;
  }
  .contact-social-media-wrapper{
    padding-top: 10%;
    text-align: left;
  }
  .contact-social-media-wrapper div{
    padding-bottom: 5%;
    text-align: left;
    width: 60vw;
  }

  .contact-footer-wrapper{
    width: 70% !important;
    text-align: right;
    }

    .copyrightDiv p{
      text-align: left;
    }

  .privacy-cookies-footer-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60% !important;
  }
}

@media (max-width: 600px) { 

  .contact-footer-wrapper{
    width: 100% !important;
    }

    .contact-social-media-wrapper div{
      padding-bottom: 5%;
      width: 100%;
    }
    .privacy-cookies-footer-wrapper{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100% !important;
    }
    .location-adress-footer{
      max-width: 90vw;
    }
  }