.footer{
    background-color: rgb(41, 41, 41);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 0;
  }
  .footer-wrapper{
    width: 80vw;
    height: auto;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .footer-location{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 45vw;
  }

  .footer-location a{
    color: white !important;
  }
  .footer-location a:hover{
    color: rgb(216, 216, 216) !important;
  }
  
  .contact-social-media-wrapper div{
    padding-bottom: 5%;
    width: 25vw;
  }
  
  .contact-footer-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20vw !important;
  }
  
  .contact-social-media-wrapper h5{
    padding-bottom: 3%;
    font-weight: 700;
  }
  
  .media-footer-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .privacy-cookies-footer-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15vw !important;
  }

@media (max-width: 1250px) { 
.footer-wrapper{
    width: 90vw;
    display: block;
  }

  .footer-location{
    display: block;
  }
  .footer-location div{
    padding: 10% 0;
    width: 90vw;
  }

  .contact-social-media-wrapper{
    padding-top: 10%;
  }
  .contact-social-media-wrapper div{
    padding-bottom: 5%;
    width: 60vw;
  }

  .contact-footer-wrapper{
    width: 70% !important;
    }

  .privacy-cookies-footer-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60% !important;
  }
}

@media (max-width: 600px) { 

  .contact-footer-wrapper{
    width: 100% !important;
    }

    .contact-social-media-wrapper div{
      padding-bottom: 5%;
      width: 100%;
    }
    .privacy-cookies-footer-wrapper{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100% !important;
    }
  }