@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

*{
  box-sizing: border-box;
  font-family:'Karla';
}
body, html{
  max-width: 100vw;
  overflow-x: hidden;
}
h1,h2,h3,h4,h5,a{
  font-family:'Rubik';
  margin: 0 !important;
}
a{
  text-decoration: none !important;
  color: black !important;
}
p{
  margin: 0 !important;
  font-size: 1.2rem !important;
}
button{
  border: none;
  background-color: transparent;
  width: fit-content;
  outline: none !important;
}
.page{
  position: relative;
  width: 100vw !important;
  height: auto;
  background-color: white;
}
.big-text {
  background-color: rgba(255, 255, 255, 1);
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 10rem 15rem;
  font-size: 18px;
}
.separator{
  height: 7rem;
  z-index: 2;
  background-color: whitesmoke !important;
}

.big-text h5{
  padding-bottom: 2%;
}

.big-text h2{
  font-size: 40px;
  font-weight: 500;
  padding-bottom: 3%;
}
.big-text p{
  width: 50vw;
  align-self: center;
}
/* fade in on scroll */
.fade-in-section {
  opacity: 0;
  transform: translateY(10vh);
  visibility: hidden;
  transition: opacity 0.5s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}
.fade-in-down {
  opacity: 0;
  transform: translateY(-5vh);
  visibility: hidden;
  transition: opacity 0.5s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-down.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}
/* fade in left */
.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInDown {
  0% {
     opacity: 0;
     -webkit-transform: translateY(35vh);
  }
  100% {
     opacity: 1;
     -webkit-transform: translateY(55vh);
  }
}
@keyframes fadeInDown {
  0% {
     opacity: 0;
     transform: translateY(35vh);
  }
  100% {
     opacity: 1;
     transform: translateY(55vh);
  }
}
.fadeInDown {
-webkit-animation-name: fadeInDown;
animation-name: fadeInDown;
} 

@media (max-width: 1250px) { 
  .big-text {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    padding: 5rem;
  }
  .big-text h5{
    padding-bottom: 2%;
  }
  .big-text h2{
    font-size: 22px;
    font-weight: 700;
    padding: 3%;
  }
  .big-text p{
    width: 80vw;
    align-self: center;
  }
}

@media (max-width: 750px) { 
  .big-text {
    padding: 2rem 1rem;
  }
  .separator{
    height: 3rem;
  }
}