@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Outline&display=swap');

*{
  box-sizing: border-box;
  font-family:'Noto Sans';
}

h1,h2,h3,h4,h5{
  font-family: sans-serif;
  margin: 0 !important;
}

a{
  text-decoration: none !important;
  color: black !important;
}

p{
  margin: 0 !important;
}

button{
  border: none;
  background-color: transparent;
  width: fit-content;
  outline: none !important;
}

.active-link{
  background-image: linear-gradient(120deg, #0da29878 0%, #0da29850 100%) !important;
  background-repeat: no-repeat !important;
  background-size: 150% 0.65em !important;
  background-position: 0 100% !important;
}

.page{
  padding-top: 9vh;
  position: relative;
  width: 100vw;
  height: auto;
}

/* Navigation  */

.lang{
  /* position: absolute;
  right: 5vw; */
  margin-left: 2vw;
}

.active-link-lang{
  color: rgb(0, 0, 0);
  background-image: linear-gradient(120deg, #000000b0 100%, #000000a6 100%);
  background-repeat: no-repeat;
  background-size: 65% 0.2em;
  background-position-x: center !important;
  padding-bottom: 10;
  background-position: 0 110%;
}

.disactive-link-lang{
  color: rgb(134, 134, 134);
}

.logo{
  width: 300px;
}

.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  z-index: 2;
  position: fixed;
  width: 100vw;
  padding: 25px 15% 15px 15%;
  font-size: 18px;
  background-color: white;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  height: 100px;
}

.navigation h4{
  font-weight: 700;
  font-size: 30px;
}

.menu-links a{
margin-left: 1vw;
padding: 0 .5vw;
width: max-content;

}
.menu-links a:hover{
  background-image: linear-gradient(120deg, #91c32db0 0%, #a8d848a6 100%);
  background-repeat: no-repeat;
  background-size: 150% 0.65em;
  background-position: 0 100%;
  }


.big-text {
  width: 60vw;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 8% auto;
  font-size: 18px;

}

.big-text h5{
  padding-bottom: 2%;
}

.big-text h2{
  font-size: 64px;
  font-weight: 700;
  padding-bottom: 3%;
}

.big-text p{
  width: 40vw;
  align-self: center;
}

/* fade in on scroll */
.fade-in-section {
  opacity: 0;
  transform: translateY(10vh);
  visibility: hidden;
  transition: opacity 0.5s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}


/* fade in left */
.animated {
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInLeft {
  0% {
     opacity: 0.8;
     -webkit-transform: translateX(100vw);
  }
  100% {
     opacity: 1;
     -webkit-transform: translateX(0px);
  }
}

@keyframes fadeInLeft {
  0% {
     opacity: 0.8;
     transform: translateX(100vw);
  }
  100% {
     opacity: 1;
     transform: translateX(0px);
  }
}

.fadeInLeft {
-webkit-animation-name: fadeInLeft;
animation-name: fadeInLeft;
} 
/* fade out up
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeOutUp {
  0% {
     opacity: 1;
     -webkit-transform: translateY(0);
  }
  100% {
     opacity: 0;
     -webkit-transform: translateY(-20px);
  }
}

@keyframes fadeOutUp {
  0% {
     opacity: 1;
     transform: translateY(0);
  }
  100% {
     opacity: 0;
     transform: translateY(-20px);
  }
}

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
} */


/* footer */
.footer{
  background-color: rgb(41, 41, 41);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 0;
}
.footer-wrapper{
  width: 70vw;
  height: auto;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-location{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30vw;
}

.contact-social-media-wrapper div{
  padding-bottom: 5%;
  width: 25vw;
}

.contact-footer-wrapper{
display: flex;
justify-content: space-between;
align-items: center;
width: 20vw !important;
}

.contact-social-media-wrapper h5{
  padding-bottom: 3%;
  font-weight: 700;
}

.media-footer-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.privacy-cookies-footer-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15vw !important;
}

/* videoComponent */
.react-player{
width: 100% !important;
height: 100% !important;
}

@media (max-width: 1110px) { 

/* navigation */

@media (max-width: 700px) { 
.logo{
  width: 80%;
}
}

.mobile-lang{
  margin-top: 15vh;
}

.navigation-mobile{
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  position: fixed;
  width: 100vw;
  padding: 3% 5%;
  height: 15vh;
  background-color: white;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.burger_hamburger__21cuQ{
  margin: 0 !important;
}

.menu-mobile{
  top: 15vh;
  position: absolute;
  z-index: 100;
  width: 100vw;
  height: 100vh;
}

.menu-links-mobile{
  position: relative;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10vh;
  font-size: 35px;
}

  .big-text {
    width: 80vw;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 8% auto;
    margin-top: 15%;
    font-size: 16px;
  }
  
  .big-text h5{
    padding-bottom: 2%;
  }
  
  .big-text h2{
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 3%;
  }
  
  .big-text p{
    width: 80vw;
    align-self: center;
  }
  
  /* footer */

  .footer-wrapper{
    width: 90vw;
    display: block;
  }

  .footer-location{
    display: block;
  }
  .footer-location div{
    padding: 10% 0;
    width: 90vw;
  }

  .contact-social-media-wrapper{
    padding-top: 10%;
  }
  .contact-social-media-wrapper div{
    padding-bottom: 5%;
    width: 100%;
  }

  .contact-footer-wrapper{
    width: 70% !important;
    }

  .privacy-cookies-footer-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60% !important;
  }
}