.team-component{
    width: 100vw;
    height: auto;
}
.team-photo-container{
    width: 100vw;
    background-image: url('../../img/team-members/team.jpeg');
    background-position: bottom;
    height: 95vh;
    margin: 5% auto;
    margin-bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
.video-container{
    overflow: hidden;
}
/* Video Component */
.video-component{
    position: relative;
    top: -7vw;
    margin-top: 0;
    width: 100%;
    height: auto;
    background-size: contain;
}
/* Team List */
.teamList-wrapper{
    margin: 0 auto !important;
    width: 70vw;
    height: auto;
}
.member-card{
    width: 48%;
    margin-top: 4%;
    height: 500px;
}
.member-img{
    width: 22vw;
    height: 22vw;
    filter: grayscale(90%);
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
}
.member-img img{
    height: 100%;
    width: 100%;
    background-size: cover;
}
.member-info{
    padding-top: 1vw;
}
.member-info>p{
    padding: 1% 0;
    color: gray;
    font-size: 14px;
}
.member-description{
    margin-top: 3% !important;
    font-size: 16px !important;
}
@media (max-width: 1110px) { 

.team-photo-container{
    width: 100vw;
    height: 35vh;
    background-color: grey;
    margin-top: 7vw;
}
/* Video Component */
.video-component{
    margin-top: 0;
    width: 100vw;
    height: auto;
}
/* Team List */
.teamList-wrapper{
    width: 100%;
}
.member-card{
    margin-top: 4%;
    height: 400px;
}
.member-img{
    width: 30vw;
    height: 30vw;
}
}
@media (max-width: 765px)  { 
.member-card{
    margin-top: 10%;
    height: auto;
}
.member-img{
    width: 100%;
    height: 100%;
}
}